.users-event {
  a {
    cursor: pointer;
  }

  @media only screen and (max-device-width: 480px) {
    .event-details {
      padding:0;

      .col-xs-12 {
        padding: 0;
      }
    }

    .event-actions {
      text-align: center;
    }

    .event-actions button,
    .event-actions .was-here,
    .event-actions .wasnt-here {
      display: block;
      margin: auto !important;
    }
  }

  div.event-type {
    font-size: 0.8em;
  }

  .timeline-item {

    div.timeline-header {
      padding:0;
      border: none;

      h3 {
        margin-top: 10px
      }
    }

    .event-date {
      font-size:1em;
      padding-top:12px;
    }
  }

  .attendance-container {
    font-size: 1.5em;
    text-align: right;
    float: right;
    padding-top: 0.4em;

    .wasnt-here {
      color: red;
    }

    .was-here {
      color: green;
    }
  }

  div.event-type {
    top: 10px;
  }

  div.event-actions {
    margin-top: -2px;

    button {
      margin-left: 0.4em;
      font-size: 0.6em;
    }

    .fa-bars {
      margin-left: 0.5em;
      font-size: 0.8em;
      cursor: pointer;
    }
  }

  .signIn-date-notes {
    font-size: 0.6em;
    text-align: center;
  }

  .lectors-container {
    margin: 0.5em 0;
  }

  .event-details {
    margin-bottom: 0.5em;
  }

  .lector-picture {
    margin-top: 1em;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

table {
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 5px 10px;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}