.timeline > li.users-event {
  margin-bottom: 2em;
}

.users-event .events-filter-all.timeline-item,
.events-filter-all {
  background-color: rgba(255, 255, 255, 1);
}

.users-event .events-filter-only-for-me.timeline-item,
.events-filter-only-for-me {
  background-color: rgba(255, 255, 255, 1);
}

.users-event .events-filter-signed-in.timeline-item,
.events-filter-signed-in {
  background-color: rgba(127, 255, 0, 0.55);
}

.users-event .events-filter-signed-out.timeline-item,
.events-filter-signed-out {
  background-color: rgba(255, 93, 93, 0.55);
}

.users-event .events-filter-stand-in.timeline-item,
.events-filter-stand-in {
  background-color: rgba(153, 203, 255, 0.55);
}

.events-filter-button {
  margin: 5px;
  
  &.active {
    border: 2px solid #0f40f5;
  }
}

.users-event {
  a {
    cursor: pointer;
  }

  .event-details-button {
    text-align: right;
    padding: 1em;

    i {
      cursor: pointer;
    }
  }

  .event-actions-notes {
    text-align: center;
    padding: 0.5em;
  }

  @media only screen and (max-device-width: 480px) {
    .event-details {
      padding:0;

      .col-xs-12 {
        padding: 0;
      }
    }

    .event-actions {
      text-align: center;
    }

    .event-actions button,
    .event-actions .was-here,
    .event-actions .wasnt-here {
      display: block;
      margin: auto !important;
    }
  }

  div.event-type {
    font-size: 0.8em;
  }

  .timeline-item {

    div.timeline-header {
      padding:0;
      border: none;

      h3 {
        margin-top: 10px
      }
    }

    .event-date {
      font-size:1em;
      padding-top:12px;
    }
  }

  .event-actions {
    .wasnt-here {
      color: red;
    }

    .was-here {
      color: green;
    }
  }

  div.event-type {
    top: 10px;
  }

  div.event-actions {
    text-align: center;
    padding: 0.5em;

    button {
      margin-left: 0.4em;
      font-size: 1em;
    }

    .fa-bars {
      margin-left: 0.5em;
      font-size: 0.8em;
      cursor: pointer;
    }
  }

  .signIn-date-notes {
    font-size: 0.6em;
    text-align: center;
  }

  .lectors-container {
    margin: 0.5em 0;
  }

  .event-details-container {
    padding-top: 1em;
  }

  .event-details {
    margin-bottom: 0.5em;
    margin-top: 2em;
  }

  .lector-picture {
    margin-top: 1em;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

table {
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 5px 10px;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}