.user-events-page {
  li.time-label {
    width: 7em;
    text-align: center;

    span {
      width: 6em;
    }
  }

  li#show-prev-events-button.time-label {
    width: 100%;
    text-align: center;
  }

  position: relative;
}

.user-events-page .content-header {
  position: fixed;
  top: 3.5em;
  z-index: 9999;
  background-color: #ecf0f5;
  width: 100%;
}

.user-events-page .content-header .events-filter {
  left: -2em;
}

.user-events-page .content {
  margin-top: 5em;
}

.event-login-modal { 
  width: 70%;
}

.event-login.box {
  border: none;
  box-shadow: none;
}

li div.timeline-item.last-item {
  width: 17em;
  padding: 10px;
  margin: auto;
  text-align: center;
}