/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
frontend/src/common/config.js
public/build

!public
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/images
public/uploads/images/*
!public/uploads/images/.gitkeep
secrets/*
!secrets/.gitkeep

.DS_Store