{%  extends "base.html" %}

{% load bootstrap3 %}


{% block title %}Nexteria{%  endblock %}

{% block content %}

    <div class="row">
        <h2>Pridaj rocniku skolne:</h2>

        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "cross" %} Pridat
                </button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}