const config = {
  appName: 'Nextis',
  // Use appVersion defined in gulp env task.
  appVersion: process.env.appVersion,
  defaultLocale: 'sk',
  isProduction: process.env.NODE_ENV === 'production',
  locales: ['sk', 'en'],
  port: process.env.PORT || 8000,
  // Enable hot reload on remote device. Note it prevents offline testing,
  // because it depends on ip.address(), which doesn't work with disabled wifi.
  // How do we access a website running on localhost from mobile browser?
  // stackoverflow.com/questions/3132105
  remoteHotReload: false,
  sentryUrl: '',
  APIS: {
    default: 'http://nexteria_space/api',
  },
};

export default config;
