.create-location-modal {
  width: 90%;

  .images {
    display: flex;
    align-items: center;

   .image {
      display: inline-block;
      margin: 1em;
      position: relative;
    }

    img {
      max-width: 200px;
    }
  }

  #dropzone {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
  }

  .location-check {
    text-align: center;
  }

  .picture-remove-overlay {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: white;
    cursor: pointer;
    opacity: 0;
  }

  .picture-remove-overlay:hover {
    opacity: 1; 
  }
}