.green-text {
	color: green;
}

.red-text {
	color: red;
}

#unassociated-payments-div {
	margin-bottom: '1em';
	text-align: 'center';
}

#no-user-div {
	text-align: 'center';
}

.search-panel {
	width: 150px;
}
