{%  extends "base.html" %}

{% block title %}Nexteria - aktivita detail{%  endblock %}

{% block content %}

    <div class="containter-fluid">
    
    <div class="row">
        <div class="col-md-2"><a href="../../aktivity/{{ event.id }}">{{ event.nazov }}</a></div>
        <div class="col-md-1">Kredity: {{ event.pocet_kreditov }}</div>
        <div class="col-md-3">Od: {{ event.zaciatok }} <br> do: {{ event.koniec }}</div>
        <div class="col-md-3">Levely: {{ event.get_levely }}</div>
        <div class="col-md-1">{{ event.typ }}</div>
        <div class="col-md-1">{{ event.get_pocet_ucastnikov }} ludi</div>
    </div>

    <div class="row">
        <div class="col-md-3">Lektori: {{ event.get_lektori }}</div>
        <div class="col-md-2">Miesto: {{ event.miesto }}</div>
        <div class="col-md-7">Popis: {{ event.popis }}</div>
    </div>

    <div class="row">
        <div class="mapa">{{ event.google_mapa|safe }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <a href="{% url 'aktivita_prihlasovanie' id %}">Prihlasovanie na Event</a>
        </div>
        <div class="col-sm-3 col-lg-2">
            <a href="{% url 'aktivita_odhlasovanie' id %}">Odhlásiť sa z eventu</a>
        </div>
    </div>

    {% if message %}
        <div class="row bg-success" style="padding:0.5em;">
            {{ message }}
        </div>
    {% endif %}
    <div class="row">


    <div class="col-md-6">
        <div><h3>Ucastnici:</h3></div>
        <ol>
            {% for u in event.ucastnici.all %}
                <li>{{ u.clovek }} (Level {{ u.level }})</li>
            {% endfor %}
        </ol>
    </div>

    <div class="col-md-6">
        <div><h3>Feedback vyplnili:</h3></div>
        <ol>
            {% for u in event.feedbacky.all %}
                <li>{{ u.student.clovek }} (Level {{ u.student.level }})</li>
            {% endfor %}
        </ol>
    </div>

    </div>


    

    </div>

{% endblock %}