<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="style.css" />-->
    <title>{% block title %}Nexteria{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin:1.5em">
<div class="container-fluid">
<div class="row">
    <div id="sidebar" class="col-md-3">
        {% block sidebar %}
        <ul>
            <li><a href="/">Novinky</a></li>
            <li><a href="/skolne/">Skolne</a></li>
            <li><a href="/kredity/">Kredity</a></li>
            <li><a href="/kontakty/">Kontaktovnik</a></li>
            <li><a href="/aktivity/">Aktivity</a></li>

        </ul>
        {% endblock %}
    </div>

    <div id="content" class="col-md-9">
        {% block content %}{% endblock %}
    </div>
</div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
</body>

</html>